<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>THIS IS A RCB TEAM</h1>
        <h1><a href="{% url 'app2_str' %}"> goto virat httpresponse</a></h1>
        <h1> <h1><a href="{% url 'app3:app3_str' %}"> goto sachin httpresponse</a></h1>
        <h1><a href="{% url 'app3:sachin' %}"> goto mi html page</a></h1>
        <h1><a href="{% url 'app1:app1_str' %}"> goto dhoni httpresponse</a></h1>
        <h1><a href="{% url 'app1:dhoni' %}"> go to csk html page</a></h1>
    </center>
</body>
</html>